li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

li:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

li div {
  text-align: left;
}

.name {
  font-weight: 600;
  font-size: 14px;
}

.tel {
  font-size: 12px;
}

.deleteBtn {
  font-weight: 600;
  color: red;
  border: 1px solid red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.deleteBtn:hover {
  cursor: pointer;
  color: #fff;
  background: red;
  transition: .3s;
}