input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid transparent;
  border-radius: 3px;
}

input:focus-visible {
  outline: none;
}
.addBtn {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid transparent;
  background: yellowgreen;
  border-radius: 3px;
  font-weight: 600;
}

.addBtn:hover {
  cursor: pointer
}